.about {
  width: 100%;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.about-content {
  background-color: #fefefe;
}

.about-content img {
  max-width: 50%;
  width: 300px;
  margin: 10px;
}

.about h1 {
  font-family: 'Orbitron', sans-serif;
  color: #0088a9;
  font-size: 30px;
}

.about p {
  padding: 10px;
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  text-align: center;
  line-height: 35px;
  font-size: 18px;
}

.about button {
  font-family: 'Montserrat', sans-serif;
  color: goldenrod;
  background-color: rgba(255, 255, 255, 0);
  width: 90px;
  border: none;
  font-size: 20px;
  padding: 10px;
}

.tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color: #24252a;
  margin-top: 2rem;
  width: 90vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 5px 0 25px 10px rgba(0, 0, 0, 0.25);
}

.tech h2 {
  font-family: 'Orbitron', sans-serif;
  color: goldenrod;
}

.tech h4 {
  color: #0088a9;
}

.tech p {
  color: white;
}

.tech h4,
.tech p {
  font-family: 'Montserrat', sans-serif;
}

.tech div {
  border-bottom: 2px solid goldenrod;
  padding: 10px;
  color: white;
  margin-top: 50px;
  flex: 1;
}

.tech h2 {
  margin-top: -40px;
}

.next-proj {
  padding: 10px;
}

.tech-icons {
  color: #0088a9;
  margin-bottom: 70px;
  font-size: 30px;
}

@media all and (min-width: 768px) {
  .about button:hover {
    color: #0088a9;
    cursor: pointer;
    transition: 200ms;
  }
  
  .about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    padding-bottom: 15rem;
    width: 100%;
  }

  .about-content div {
    width: 45%;
  }

  .about-content img {
    align-self: center;
    max-width: 20%;
    margin-right: 70px;
  }

  .tech {
    flex-direction: row;
    align-self: center;
    margin-top: -13rem;
  }

  .design {
    display: flex;
    flex-direction: column;
    border-right: 2px solid goldenrod;
  }

  .fullstack {
    display: flex;
    flex-direction: column;
  }

  .about button {
    margin: 5px;
  }
}
