.about {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.about h1 {
  font-family: 'Orbitron', sans-serif;
  color: #0088a9;
  font-size: 30px;
}

.about p {
  padding: 10px;
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
  color: #fefefe;
  font-size: 15px;
}

.about button {
  font-family: 'Montserrat', sans-serif;
  color: goldenrod;
  background-color: rgba(255, 255, 255, 0);
  width: 90px;
  border: none;
  font-size: 20px;
}


@media all and (min-width: 768px) {
    .about button:hover {
        color: #0088a9;
        cursor: pointer;
    }
}
