.contact button {
    font-family: 'Montserrat', sans-serif;
    color: goldenrod;
    background-color: rgba(255, 255, 255, 0);
    width: 90px;
    border: none;
    font-size: 20px;
  }

  @media all and (min-width: 768px) {
    .contact button:hover {
      color: #0088a9;
      cursor: pointer;
    }
  }