.header {
  background-color: #24252a;
  height: 50px;
  margin: 8px;
  display: flex;
}

.header button {
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #0088a9;
  background-color: #24252a;
  color: goldenrod;
  padding: 7px;
  height: 30px;
  width: 50px;
  border-radius: 3px;
}
