.nav-bar {
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 50px;
  background-color: #38495a;
}

.nav-list {
  display: flex;
  flex: 1;
  margin: 5px;
  justify-content: center;
}

.home-btn {
  color: goldenrod;
}

.not-home {
  color: #0088a9;
}

.nav-btn {
  margin-left: 30px;
  margin-right: 30px;
}

.nav-btn button {
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
}

@media all and (min-width: 768px) {
  .home-btn:hover {
    cursor: pointer;
    transition: 200ms;
    border-bottom: 2px solid goldenrod;
    color: goldenrod;
  }

  .not-home:hover {
    cursor: pointer;
    transition: 200ms;
    color: goldenrod;
    border-bottom: 2px solid goldenrod;
  }

  .nav-btn {
    margin-left: 100px;
    margin-right: 100px;
  }
}
